

body {
  margin: 0;
}

#drum-machine {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7e7e7;
}

/* Default keypad and country specifics*/

.drumPad {
  width: 25vw;
  height: 25vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 30px;
  border-radius: 5%;
}

.morocco-pad {
  background: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX25510585.jpg');
  background-size: cover;
  background-position: center top;
}

.japan-pad {
  background: url('https://previews.123rf.com/images/silvionka/silvionka1205/silvionka120500020/13657200-des-ant%C3%A9c%C3%A9dents-japonais-avec-la-montagne-et-la-fleur-de-sakura-japonais-de-cerisier-symboles-de-la-cu.jpg');
  background-size: cover;
}

.burundi-pad {
  background: url('https://cloud.glstock.com/15206/838640/african-background-style-with-rich-detalis.jpg');
}

.none-pad {
  background: #d1d1d1;
}


/* drum keys */

.drum-key {
  border-radius: 5%;
  border: none;
  transition: all 1.5s ease;
}

.japan {
  background: rgb(255, 231, 246, 0.6);
  box-shadow: inset 0 0 7px 3px #ffb3d5;
}

.burundi {
  background: rgb(193, 180, 129, 0.8);
  box-shadow: inset 0 0 8px 4px #a9715f;
}

.morocco {
  background: rgb( 255, 221, 217 , 0.9);
  box-shadow: inset 0 0 8px 4px #ff7520;
  color: ;
}

.drum-key-off {
  border: none;
}

/* animation when a key is pressed */

.pressed {
  transform: scale(1.2);
  border-color: #fff300;
  box-shadow: 0 0 6px 2px #fff300;
}

/* type of drum currently playing */

.drumName {
  position: relative;
  width: 100%;
  height: 5vh;
  box-sizing: border-box;
  text-align: center;
}


/* left side - power & country selector*/

.inputs {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  
}

/* row for power slider and label */
.power-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15% 0;
}

.label {
  margin-right: 5%;
  font-size: 18pt;
}

/* column for country selectors and label saying which is selected */

.drumType {
  display: flex;
  flex-direction: column;
}

/* row of country buttons */

.drumNames {
  display: flex;
  justify-content: space-between;
}

/* country buttons */

.button-country {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: none;
}

.japan-button {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Japan_flag_-_variant.png/1024px-Japan_flag_-_variant.png');
  background-size: cover;
  background-position: center center;

}

.morocco-button {
  background: url('https://i.pinimg.com/originals/fa/3d/a4/fa3da46b641353a80f571ca936163a5e.jpg');
  background-position: center center;
  background-size: cover;
}

.burundi-button {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/2000px-Flag_of_Burundi.svg.png');
  background-size: cover;
  background-position: center center;
}

/* label for which country is selected */

.display-japan {
  align-self: center;
  color: red;
}

.display-morocco {
  align-self: center;

}

.display-burundi {
  align-self: center;

}

.display-none {
  align-self: center;
}

/* added when a button is pressed */



 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  transform: translateX(26px);
}