body {
  margin: 0;
}

#drum-machine {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: gray;
}

.drumPad {
  width: 20vw;
  height: 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 150px;

}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 150px;
  
}

.drumType {
  display: flex;
  justify-content: space-between;
}

.morocco-pad {
  background: green;
}

.japan-pad {
  background: red;
}

.burundi-pad {
  background: orange;
}

.button-country {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  align-self: center;
  margin: 100px 0;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  transform: translateX(26px);
}